## Here are some simple tests for pandas_cute as follows:

In [6]:
import numpy as np
import pandas_cute as pdc

In [8]:
# auto reload
%load_ext autoreload
%autoreload 2

In [9]:
students = np.array(['Tom', 'Tom', 'Jack', 'Jack'])
courses = np.array(['Math', 'English', 'Math', 'English'])
scores = np.array([70, 65, 67, 91])
data = {'students': students, 'courses': courses, 'scores': scores}

df = pdc.DataFrame(data)
df

In [11]:
# columns attribute
df.columns

['students', 'courses', 'scores']

In [12]:
# columns attribute
df.shape

(4, 3)

In [20]:
df['courses']

In [17]:
df[1:, :]

In [22]:
filter = df['scores'] > 65
df[filter]

## pivot table

In [18]:
df.pivot_table(rows='students', values='scores', aggfunc='mean')

In [19]:
df.pivot_table(rows='courses', values='scores', aggfunc='sum')

## read_csv()

In [23]:
result = pdc.read_csv('data/employee.csv')
result.head()